---
import CarouselItem from "./CarouselItem.astro";
---

<section class="swiper h-[calc(100svh-4rem)]">
  <div class="swiper-wrapper">
    <CarouselItem
      title="Beautiful image"
      description="Description of a beautiful image"
      image="https://images.unsplash.com/photo-1511285560929-80b456fea0bc?w=1920&h=1080&fit=crop"
    />
    <CarouselItem
      title="Beautiful image"
      description="Description of a beautiful image"
      image="https://images.unsplash.com/photo-1537907690979-ee8e01276184?w=1920&h=1080&fit=crop"
    />
    <CarouselItem
      title="Beautiful image"
      description="Description of a beautiful image"
      image="https://images.unsplash.com/photo-1519741497674-611481863552?w=1920&h=1080&fit=crop"
    />
  </div>
  <div class="swiper-pagination"></div>

  <button class="swiper-button-prev"></button>
  <button class="swiper-button-next"></button>
</section>

<style>
  :root {
    --swiper-pagination-color: #000000;
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-bullet-width: 12px;
    --swiper-pagination-bullet-height: 12px;
    --swiper-pagination-bullet-inactive-color: rgba(255, 255, 255, 0.5);
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 6px;
    --swiper-pagination-bullet-vertical-gap: 6px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.8);
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 20px;
    font-weight: bold;
  }

  .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width);
    height: var(--swiper-pagination-bullet-height);
    background-color: var(--swiper-pagination-bullet-inactive-color);
    opacity: var(--swiper-pagination-bullet-inactive-opacity);
    border-radius: 50%;
    margin: var(--swiper-pagination-bullet-horizontal-gap)
      var(--swiper-pagination-bullet-vertical-gap);
    transition:
      background-color 0.3s ease,
      transform 0.3s ease;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--swiper-pagination-color);
    transform: scale(1.2);
  }
</style>

<script>
  import Swiper from "swiper";
  import "swiper/css";
  import "swiper/css/navigation";
  import "swiper/css/pagination";

  import { on_load } from "../util/listener";
  import { Autoplay, Navigation, Pagination } from "swiper/modules";

  on_load(() => {
    const swiper = new Swiper(".swiper", {
      modules: [Pagination, Autoplay, Navigation],
      loop: true,
      autoplay: {
        delay: 5000,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
    return () => {
      swiper.destroy();
    };
  });
</script>
