<section class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img
        src="https://images.unsplash.com/photo-1511285560929-80b456fea0bc?w=1920&h=1080&fit=crop"
        alt="Image 1"
      />
      <div class="carousel-text absolute inset-0">
        <div
          class="absolute inset-0 bg-gradient-to-b from-transparent to-black/70"
        >
        </div>
        <div
          class="flex items-center justify-center text-center text-white h-full"
          data-aos="fade-up"
        >
          <div>
            <h1 class="text-5xl md:text-7xl font-display mb-4">
              Beautifu image
            </h1>
            <p class="text-xl md:text-2xl">Description of a beautiful image</p>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide h-svh">
      <img
        src="https://images.unsplash.com/photo-1537907690979-ee8e01276184?w=1920&h=1080&fit=crop"
        alt="Image 2"
      />
      <div class="carousel-text absolute inset-0">
        <div
          class="absolute inset-0 bg-gradient-to-b from-transparent to-black/70"
        >
        </div>
        <div
          class="flex items-center justify-center text-center text-white h-full"
        >
          <div>
            <h1 class="text-5xl md:text-7xl font-display mb-4">Good image</h1>
            <p class="text-xl md:text-2xl">Description of a good image</p>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide h-svh">
      <img
        src="https://images.unsplash.com/photo-1519741497674-611481863552?w=1920&h=1080&fit=crop"
        alt="Image 3"
      />
      <div class="carousel-text absolute inset-0">
        <div
          class="absolute inset-0 bg-gradient-to-b from-transparent to-black/70"
        >
        </div>
        <div
          class="flex items-center justify-center text-center text-white h-full"
        >
          <div>
            <h1 class="text-5xl md:text-7xl font-display mb-4">Idk</h1>
            <p class="text-xl md:text-2xl">
              Idk what to put for the description
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="swiper-pagination"></div>

  <button class="swiper-button-prev"></button>
  <button class="swiper-button-next"></button>
</section>

<script>
  import Swiper from "swiper";
  import "swiper/css";
  import "swiper/css/navigation";
  import "swiper/css/pagination";

  import { on_load } from "../util/listener";
  import { Autoplay, Navigation, Pagination } from "swiper/modules";
  on_load(() => {
    const swiper = new Swiper(".swiper", {
      modules: [Pagination, Autoplay, Navigation],
      loop: true,
      autoplay: {
        delay: 5000,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
    return () => {
      swiper.destroy();
    };
  });
</script>
