---
import ThemeToggleBtn from "./ThemeToggleBtn.astro";
---

<nav
  class="sticky top-0 left-0 w-full bg-champagne/80 dark:bg-gray-900/80 backdrop-blur-md z-10 h-16"
>
  <div class="container mx-auto px-6 py-2">
    <div class="flex items-center justify-between">
      <a
        href="/"
        class="text-xl font-display text-brown dark:text-white flex justify-center items-center"
      >
        <img src="/logo.png" alt="HD Photography" class="h-12" />
        <span class="ml-2">HD Photography</span>
      </a>
      <div class="hidden md:flex space-x-8">
        <a
          href="/"
          class="text-oliveGray dark:text-gray-300 hover:text-darkRed nav-link"
          >Home</a
        >
        <a
          href="/about"
          class="text-oliveGray dark:text-gray-300 hover:text-darkRed nav-link"
          >About</a
        >
        <a
          href="/showroom"
          class="text-oliveGray dark:text-gray-300 hover:text-darkRed nav-link"
          >Showroom</a
        >
      </div>

      <div class="hidden md:block z-30 relative">
        <ThemeToggleBtn />
      </div>
      <!-- Menu Icon -->
      <button class="md:hidden text-white" id="menuToggleBtn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>
  </div>
</nav>

<div
  id="mobileNavOverlay"
  class="fixed top-0 right-[-100%] w-64 bg-black bg-opacity-80 z-20 h-full transition-all duration-300 ease-in-out pointer-events-none"
>
  <div class="flex justify-between p-4">
    <!-- Back Icon -->
    <button class="text-white" id="closeOverlayBtn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"></path>
      </svg>
    </button>
  </div>
  <div
    class="flex flex-col items-start justify-start p-4 space-y-4 pointer-events-auto"
  >
    <a href="/" class="text-white text-lg nav-link">Home</a>
    <a href="/about" class="text-white text-lg nav-link">About</a>
    <a href="/showroom" class="text-white text-lg nav-link">Showroom</a>
    <button
      id="mobileThemeToggleBtn"
      class="text-white mt-4 px-24 py-4 border-2 border-white rounded-lg bg-transparent hover:bg-white hover:text-black transition-all duration-300 ease-in-out"
    >
      <svg class="w-5 h-5 dark:hidden" fill="currentColor" viewBox="0 0 20 20">
        <!-- Moon Icon -->
        <path
          d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
        ></path>
      </svg>
      <svg
        class="w-5 h-5 hidden dark:block"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <!-- Sun Icon -->
        <path
          d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
        ></path>
      </svg>
    </button>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Get references to UI elements
    const menuToggleBtn = document.getElementById("menuToggleBtn");
    const mobileNavOverlay = document.getElementById("mobileNavOverlay");
    const closeOverlayBtn = document.getElementById("closeOverlayBtn");
    const navLinks = document.querySelectorAll(".nav-link");
    const mobileThemeToggleBtn = document.getElementById(
      "mobileThemeToggleBtn"
    );

    // Show mobile nav
    const openOverlay = () => {
      mobileNavOverlay.classList.remove("right-[-100%]");
      mobileNavOverlay.classList.add("right-0");
      mobileNavOverlay.style.pointerEvents = "auto";
    };

    // Hide mobile nav
    const closeOverlay = () => {
      mobileNavOverlay.classList.remove("right-0");
      mobileNavOverlay.classList.add("right-[-100%]");
      mobileNavOverlay.style.pointerEvents = "none";
    };

    // Toggle mobile nav visibility
    menuToggleBtn.addEventListener("click", openOverlay);
    closeOverlayBtn.addEventListener("click", closeOverlay);

    // Handle mobile nav link clicks
    navLinks.forEach((link) => {
      link.addEventListener("click", function (event) {
        event.preventDefault();
        closeOverlay();

        const anchor = event.target as HTMLAnchorElement;
        setTimeout(() => {
          window.location.href = anchor.href;
        }, 300); // Navigate after close animation
      });
    });

    // Toggle theme and store preference
    mobileThemeToggleBtn.addEventListener("click", function () {
      document.documentElement.classList.toggle("dark");
      localStorage.setItem(
        "theme",
        document.documentElement.classList.contains("dark") ? "dark" : "light"
      );
    });
  });
</script>
