---
import ThemeToggleBtn from "./ThemeToggleBtn.astro";
---

<nav class="sticky top-0 left-0 w-full bg-cream/80 dark:bg-gray-900/80 backdrop-blur-md z-10 h-16">
  <div class="container mx-auto px-6 py-4">
    <div class="flex items-center justify-between">
      <a href="/" class="text-2xl font-display text-brown dark:text-white">
        Lens & Light
      </a>
      <div class="hidden md:flex space-x-8">
        <a
          href="/"
          class="text-oliveGray dark:text-gray-300 hover:text-darkRed"
        >
          Home
        </a>
        <a
          href="/about"
          class="text-oliveGray dark:text-gray-300 hover:text-darkRed"
        >
          About
        </a>
        <a
          href="/showroom"
          class="text-oliveGray dark:text-gray-300 hover:text-darkRed"
        >
          Showroom
        </a>
      </div>
      <ThemeToggleBtn />
    </div>
  </div>
</nav>
